html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#777, #333);
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
}

html {
    -moz-box-sizing: border-box;
    display: flex;
    flex-grow: 0;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 0;
    width: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.expand {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.expand-to-container {
    width: 100%;
    height: 100%;
}

.disconnectedStatus {
    position: absolute;
    left: 15px;
    top: 15px;
    transition: opacity 1s linear;
}

#root {
    margin: 10px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#BBB, #AAA);
    box-shadow: #111 -7px 9px 8px 4px;
}

.game-view {
    flex: 1;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(-45deg, #5555, #28282858);

    box-shadow: #20202068 -4px 4px 3px 1px;
    position: relative;
}

button {
    background-image: linear-gradient(#45B, #22A);
    color: white;
    box-shadow: #3335 -4px 4px 3px 1px;
    border: 2px outset #8885;
    padding: 1px 5px;
    font-size: 120%;
    display: inline-block;
}

button:hover {
    background-image: linear-gradient(#66F, #56D);
    color: white;
}

button:active {
    background-image: linear-gradient(#007, #119);
    color: white;
}

.stat {
    margin: 3px;
    padding: 3px;
    background-image: linear-gradient(#090, #350);
    box-shadow: #3337 -4px 4px 3px 1px;
    border: 2px outset #8885;
    display: inline-block;
    
    min-width: 90px;
    color: white;
}

.health {
    background-image: linear-gradient(#990, #640);
}

.stat-bar {
    width: 100%;
    margin: 10px;
    overflow-x: auto;
    overflow-y: visible;
}

#login {
    width: 22%;
    height: auto;
    margin: auto auto;
    background-image: linear-gradient(#877, #655);
    box-shadow: #111 -7px 9px 8px 4px;
    padding: 15px;
    color: white;
}

#login-container {
    left: 0px;
    top: 40%;
    position: absolute;
    width: 100%;
}

.add-button {
    margin-left: 15px;
}

.entity {
    position: absolute;
    /*border: 1px solid #AAA6;*/
}

.entity-name {
    position: absolute;
    text-align: center;
    font-size: 90%;
    color: white;
    user-select: none;
    -moz-user-select: none;
    width: 100px;
}

.damage {
    visibility: visible;
    opacity: 1;
    color: #FF884490;
    position: absolute;
    text-align: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.big-slider-row {
    flex: 1;
}

.status {
    font-size: 85%;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}

.chat-bar {
    padding: 3px;
}
